<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Cocktail list</h1>
            <%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-primary"%>
    </div>
  </div>
    <div>
           <% @cocktails.each do |cocktail| %>
             <h2><%= cocktail.name %></h2>
          <%= link_to 'Edit a cocktail', edit_cocktail_path(cocktail) %>
          <%= link_to 'Details', cocktail_path(cocktail) %>
          <%= link_to 'Delete', cocktail_path(cocktail), method: :delete %>

             <% end %>
             </div>
         </div>

